<!-- gitment 评论 -->
<section class="post-comments">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <!-- or -->
    <!--
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    -->
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
            clientID: 'dc80d4614cbc22815905',
            clientSecret: '7885c51effe60bb458d955dfb27cf69d01c9923b',
            repo: 'blog_comments',
            owner: 'PerfectZQ',
            admin: ['PerfectZQ'],
            // Ensure uniqueness and length less than 50
            // 默认 id: location.pathname ，但是会因为域名太长而出现 Error: Validation Failed
            id: '{{ page.date }}',
            distractionFreeMode: false  // Facebook-like distraction free mode
        });

        gitalk.render('gitalk-container')
    </script>
</section>