<!-- gitment 评论 -->
<section class="post-comments">
    <div id="gitmentContainer"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            owner: 'PerfectZQ',
            repo: 'PerfectZQ.github.io',
            oauth: {
                client_id: 'dc80d4614cbc22815905',
                client_secret: '7885c51effe60bb458d955dfb27cf69d01c9923b',
            },
        });
        gitment.render('gitmentContainer');
    </script>
</section>