<!-- 目录页 -->
<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
            </div>
        </div>
        <nav class="menu">
            <ul class="nav metismenu" id="sidebar-menu">
                <li>
                    <a href="javascript:void(0);"> <i class="fa fa-bar-chart"></i> 分析统计 <i
                            class="fa arrow"></i> </a>
                    <ul class="collapse">
                        <li>
                            <a target="content">
                                数据分类
                            </a>
                        </li>
                        <li>
                            <a target="content">
                                教师分析
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a target="content" href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms
                    </a>
                </li>
                <li>
                    <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                </li>
                <li>
                    <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                </li>
                <li>
                    <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>


