<!-- 目录页 -->
<aside class="sidebar">
    <div class="sidebar-header">
        <div class="top-logo"></div>
        PerfectZQ
    </div>
    <div class="sidebar-container">
        <nav class="menu" style="width: 100%">
            <ul class="nav metismenu" id="sidebar-menu">
                {% for category in site.categories %}
                    {% if category.first != 'articles' %}
                    <li class="first_content" id='{{ category.first | replace: " ", "_"}}'>
                        <a href="javascript:void(0);">
                            <i class="fa fa-pencil-square-o"></i>
                            {{ category.first }}
                            <!--<i class="fa arrow"></i>-->
                        </a>
                        <ul class="disappear">
                            {% assign posts = category.last | reverse %}
                            {% for post in posts %}
                            <li class="second_content">
                                <a href="{{ site.baseurl}}{{ post.url }}">
                                    {{ post.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</aside>


