<!--  目录页，如果当前页面是博客或者博客列表则向左收缩 -->
<header class="panel-cover--collapsed">
    <!-- 目录页 -->
    <div class="panel-main">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">

                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="nav metismenu" id="sidebar-menu">
                            <li>
                                <a href="javascript:void(0);"> <i class="fa fa-bar-chart"></i> 分析统计 <i
                                        class="fa arrow"></i> </a>
                                <ul class="collapse">
                                    <li>
                                        <a target="content">
                                            数据分类
                                        </a>
                                    </li>
                                    <li>
                                        <a target="content">
                                            教师分析
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a target="content" href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                            <li>
                                <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                            <li>
                                <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                            <li>
                                <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


</header>


