<!-- 首页网页版，如果当前页面是博客或者博客列表则向左收缩 -->
<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}">
    <!--<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--disappear{% endif %}"-->
    <!--style="background-image: url('/images/background-cover.jpg')">-->

    <!-- 首页 -->
    <div class="panel-main {% if page.layout == 'post' or page.layout == 'page' %}hide{% endif %}"
         style="background-image: url('/images/background-cover.jpg')">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">
                <!-- 头像效果-start -->
                <div class="ih-item circle effect right_to_left">
                    <a href="/#blog" title="前往 {{ site.title }} 的主页" class="blog-button">
                        <div class="img"><img src="/images/avatar.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <!-- 头像里面的标题 -->
                                <div class="back-title">
                                    {% if site.avatarTitle %}
                                    {{site.avatarTitle}}
                                    {% endif %}
                                </div>
                                <!-- 头像里面的描述 -->
                                <p>
                                    {% if site.avatarDesc %}
                                    {{site.avatarDesc}}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 头像效果-end -->
                <div class="panel-cover__title panel-title"><a href="/#blog"
                                                               title="link to homepage for {{ site.title }}"
                                                               class="blog-button">{{ site.title }}</a></div>
                {% if site.subtitle %}
                <span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
                {% endif %}
                <hr class="panel-cover__divider"/>
                <p class="panel-cover__description">{{ site.description }}</p>
                <hr class="panel-cover__divider panel-cover__divider--secondary"/>

                {% if site.welcome_message %}
                <p class="panel-cover__description">{{ site.welcome_message }}</p>
                {% endif %}


                <div class="navigation-wrapper">
                    <div>
                        <nav class="cover-navigation cover-navigation--primary">
                            <ul class="navigation">
                                <li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}"
                                                                class="blog-button">{{site.blog_button.title}}</a></li>
                                {% for item in site.nav %}
                                <li class="navigation__item"><a href="{{item.url}}" title="{{item.description}}">{{item.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if site.cover_color %}
    <div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
    {% else %}
    <div class="panel-cover--overlay cover-disabled"></div>
    {% endif %}
    </div>

    <!-- 目录页 -->
    <div class="panel-main {% if page.layout == 'default' %}hide{% endif %}">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">

                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <div class="logo">
                                <span class="l l1"></span>
                                <span class="l l2"></span>
                                <span class="l l3"></span>
                                <span class="l l4"></span>
                                <span class="l l5"></span>
                            </div>
                            哈哈哈哈
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="nav metismenu" id="sidebar-menu">
                            <!--<li class="active">
                                <a href="javascript:void(0);"> <i class="fa fa-home"></i> 概览 </a>
                            </li>-->
                            <!--<li>
                                <a href="javascript:void(0);"> <i class="fa fa-th-large"></i> 配置 <i
                                        class="fa arrow"></i> </a>
                            </li>-->
                            <li>
                                <a href="javascript:void(0);"> <i class="fa fa-bar-chart"></i> 分析统计 <i
                                        class="fa arrow"></i> </a>
                                <ul class="collapse">
                                    <li>
                                        <a target="content">
                                            数据分类
                                        </a>
                                    </li>
                                    <li>
                                        <a target="content">
                                            教师分析
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a target="content" href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                            <li>
                                <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                            <li>
                                <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                            <li>
                                <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> Forms </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


