<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include welcome.html %}

<!-- 内容首页 -->
<div class="content_index disappear">

    <!-- top 页-->
    <header class="header">
        <div class="side-change-container">
            <button class="menu-btn">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="top-right-menu">
            <a class="top-right-info" href="#">
                <div class="left-avatar">
                    <span class="name">Zhang Qiang</span>
                </div>
            </a>
            <div id="dropdown-menu" class="appear">
                <a href="/#blog" title="{{site.blog_button.description}}" class="dropdown-item">
                    <i class="fa fa-home" style="margin-right: 15px;font-size: 18px;color: #b9d3ee"></i>
                    {{site.blog_button.title}}
                </a>
                {% for item in site.nav %}
                <a href="{{item.url}}" title="{{item.description}}" class="dropdown-item">
                    <i class="{{item.style}}" style="margin-right: 15px;font-size: 18px;color: #b9d3ee"></i>
                    {{item.title}}
                </a>
                {% endfor %}
            </div>
        </div>
    </header>

    {% include side-table-of-content.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <!-- 当本文件为模版时，引用此模版的页面的代码填充在这里 -->
            {{ content }}
            {% include footer.html %}
        </div>
    </div>

</div>


{% include external.html %}

</body>

</html>
