<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div style="display: block">
    <header class="header">
        <div class="side-change-menu-btn" >
            <button>
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="top-right-menu">
            <div class="top-right-info">
                <div class="avatar"></div>
                张强
            </div>
            <div class="dropdown-menu disappear">
                <div class="dropdown-item" href="#"><i class="fa fa-user icon"></i> Profile</div>
                <div class="dropdown-item" href="#"> <i class="fa fa-bell icon"></i> Notifications </div>
                <div class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i> Settings </div>
                <div class="dropdown-item" href="login.html"> <i class="fa fa-power-off icon"></i> Logout </div>
            </div>

        </div>
    </header>
    {% include side-table-of-content.html %}
    <!-- 导航栏 -->

    <!--<div class="btn-top-navigation-menu">-->
    <!--<div class="nav_container">-->
    <!--<nav class="nav-menu-item" style="float:right">-->
    <!--<i class="nav-menu-item">-->
    <!--<a href="/post_list" title="{{site.blog_button.description}}" class="blog-button">-->
    <!--{{site.blog_button.title}}-->
    <!--</a>-->
    <!--</i>-->
    <!--{% for item in site.nav %}-->
    <!--<i class="nav-menu-item">-->
    <!--<a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">-->
    <!--{{item.title}}-->
    <!--</a>-->
    <!--</i>-->
    <!--{% endfor %}-->
    <!--</nav>-->
    <!--</div>-->
    <!--</div>-->
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <!-- 当本文件为模版时，引用此模版的页面的代码填充在这里 -->
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
</div>


{% include external.html %}

</body>

</html>
